$text-bold: bold;
$color-gray: #888888;
$text-capitalize: capitalize;
$text-uppercase: uppercase;
$breakpoint-tablet: 1250px;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.title:first-letter,
.calendar-result-title:first-letter,
.modal-title::first-letter {
  text-transform: $text-capitalize;
}

.title,
.modal-title {
  font-weight: $text-bold;
  cursor: pointer;
}

.date {
  color: $color-gray;
}

.page-title {
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: $text-uppercase;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid;
  border-color: $color-gray;
}

.calendar-result-title {
  font-weight: $text-bold;
}


.calendar-result-type {
  font-weight: normal;
  font-size: 15px;
  color: #52b44f;

}

.date-picker-icon {
  position: absolute;
  z-index: 2;
  margin-left: -30px;
  margin-top: 10px;
}

.not-found,
.calendar,
.search-event {
  text-align: center;
}

.filter-section {
  background-color: #f1f1f1;
}

.filter-section-width {
  width: 200px;
}

.filter-options-width {
  width: 220px;
}

.load-more {
  text-align: center;

  button {
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
  }
}


.category-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .category-type-text {
    text-transform: $text-uppercase;
    color: #cca71f;
    font-weight: $text-bold;
  }

  .category-line {
    flex-grow: 1;
    height: 1px;
    background-color: #f1f1f1;
    margin-left: 25px;
  }
}

.modal-body-container {
  display: flex;
}

.child {
  order: 1;
}

.search-icon {
  position: absolute;
  margin-top: 13px;
  margin-left: 190px;
}

.event-archive-text {
  margin-top: -25px;
  font-weight: $text-bold;
}

.comment-amount {
  padding-left: 5px;
  font-weight: normal;
  color: #52b44f;
  font-size: 13px;
}

@media (max-width: 767px) {
  .child {
    flex: 0 0 100%;
  }

  .topper {
    order: 0;
  }
}